/* Color vars */
$white:#fff;
$black:#000;

// Organic colors
$positive:#5aa253;
$negative:#e75858;
$informative:#1e88c5;
$warning:#e7a713;

/* border radius */
$r:4px;
$r-btn:6px;

/* Font family settings */
$font-standard: sans-serif;
$font-bold: sans-serif;