.organic-btn {
  @extend .btn-main;
  //Layout
  border-radius: $r;
  box-sizing:border-box;
  border: 2px solid transparent;
  padding: 13px 19px 12px;
  display: block;

  //Typography
  font-family:$font-standard;
  line-height:100%;
  text-transform:uppercase;
  letter-spacing:0.01em;

  //Interaction
  transition: background 100ms ease, border 100ms ease;

  //Color
  background:$black;
  color:$white;

  &.primary {

    &:hover {
      border-color:lighten($black,20%);
      background:$black;
    }

    &.positive, &.negative, &.informative, &.warning {
      background:$black;
    }
  }

  &.secondary {
    background:rgba($black,0.1);
    color:$black;

    &:hover {
      border-color:darken(rgba($black,0.1),10%);
      background:darken(rgba($black,0.1),20%);
      color:$white;
    }

    &.positive, &.negative, &.informative, &.warning {
      background:rgba($black,0.1);
      color:$black;

      &:hover {
        color:$white;
      }
    }
  }

  &.positive {
    background:$positive;

    &:hover {
      border-color:$positive;
      background:darken($positive,10%);
    }
  }

  &.negative {
    background:$negative;

    &:hover {
      border-color:$negative;
      background:darken($negative,10%);
    }
  }

  &.informative {
    background:$informative;

    &:hover {
      border-color:$informative;
      background:darken($informative,10%);
    }
  }

  &.warning {
    background:$warning;

    &:hover {
      border-color:$warning;
      background:darken($warning,10%);
    }
  }
}