.main-button {
  //Layout
  display: block;
  margin: 0 auto;
  border-radius: $r-btn;

  //Typography
  font-family: $font-standard;
  text-decoration: none;
  text-align: center;

  //Color
  color: $black;
  background: $white;
  border: 1px solid $black;

  //Interaction
  cursor: pointer;
  outline: none;

  &:hover {
    //Layout
    //Typography
    //Color
    //Interaction

	&[type=submit] {
      //Layout
      //Typography
      //Color
      //Interaction
	}
  }

  &:focus, &:active {
    //Layout
    //Typography
    //Color
    //Interaction
  }


  &:disabled, &:visited {
    //Layout
    //Typography
    //Color
    //Interaction
  }
}